* {
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
}

.grid {
    display: grid;
    height: 1080px;
    grid-template-rows: 270px 270px 270px 270px;
    grid-template-columns: 460px 1000px 460px;
    grid-template-areas:
    "header1 header2 header3"
    "profilepic background ."
    ". paragraph ."
    ". facts ."
}

.img {
    width: 20%;
}

.header {
    display: block;
    height: 250px;
    width: 100%;
    background-color: #102542;
}

.header1 {
    grid-area: header1;
}

.header2 {
    grid-area: header2;
}

.header3 {
    grid-area: header3;
}

.profilepic {
    grid-area: profilepic;
}

.background {
    grid-area: background1;
}